@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #3c484e;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.header-main {
  padding: 0 10px;
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: #15302c;
}

.characters {
  background: rgb(36, 40, 47);
  padding: 4.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.character-item {
  margin: 0.75rem;
  background: rgb(60, 62, 68);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 600px;
  height: 220px;
  display: flex;
  opacity: 0.8;
  transition: 0.2s;
}

.character-item:hover {
  opacity: 1;
  transform: scale(1.05);
}

.character-item a {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  grid-template-areas: inherit;
  flex-direction: inherit;
  color: white;
}

.image-container {
  margin: 0;
  height: 100%;
}

.character-image {
  height: 100%;
  object-fit: cover;
}

.character-content {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character-title h2 {
  margin: 0;
  font-size: 1.5rem;
}

.character-info {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.character-info .question {
  color: rgb(158, 158, 158);
}

.status-container {
  display: flex;
  align-items: center;
}

.bold-info {
  font-weight: bold;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(214, 61, 46);
  border-radius: 50%;
  margin: 5px 5px 5px 0;
}

.dot.Alive {
  background-color: rgb(85, 204, 68);
}
.dot.unknown {
  background-color: gray;
}
/*----------------------------------------------------------------*/

.characters-inner {
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.characters-card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
}

.characters-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.characters-card h2 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.characters-card h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 20px;
}

.characters-item {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
}

.characters-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.characters-item h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.characters-item a {
  text-decoration: none;
  color: #026c86;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 650px) {
  .character-item {
    flex-direction: column;
    height: initial;
    width: 100%;
  }
  .character-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

  .character-content {
    height: 220px;
  }
}
